route:
  receiver: "mail"
  repeat_interval: 4h
  group_by: [ alertname ]

receivers:
  - name: "mail"
    email_configs:
      - smarthost: "outlook.office365.com:587"
        auth_username: "test@padok.fr"
        auth_password: "{{ alertmanager_smtp_password }}"
        from: "test@padok.fr"
        to: "test@padok.fr"